<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container text-center">

  <h1>Password Generator</h1>

  <form action="{% url 'password' %}">
    <select name="length">
      <option value="6">6 char long</option>
      <option value="7">7 char long</option>
      <option value="8">8 char long</option>
      <option value="9">9 char long</option>
      <option value="10">10 char long</option>
      <option value="11">11 char long</option>
      <option value="12"  selected="selected">12 char long</option>
    </select> Length
    <br>
    <br>
    <br>
    <input type="checkbox" name="uppercase">Uppercase</input>
    <br>
    <input type="checkbox" name="special">Special Chars</input>
    <br>
    <input type="checkbox" name="numbers">Numbers</input>
    <br>
    <br>
    <br>
    <input type="submit" value="generate password" class="btn btn-primary">
  </form>
</div>
